In [ ]:
import configparser
import pandas as pd

from sqlalchemy import create_engine

In [ ]:
config = configparser.ConfigParser()
config.read('config.ini')

In [ ]:
url = config['DATABASE']['URL']
username = config['DATABASE']['USERNAME']
password = config['DATABASE']['PASSWORD']

In [ ]:
data = pd.read_csv('titanic.csv')

In [ ]:
!pip install pymysql

### Using Select

#### Select operation is used to fetch a required piece of information from the given data.

In [ ]:
db_connection_str = f'mysql+pymysql://{username}:{password}@{url}/sys'
db_connection = create_engine(db_connection_str)
overall_df = pd.read_sql('SELECT * FROM titanic_csv', con=db_connection)
db_connection.dispose() 
overall_df

#### Note: Avoid using * if you don't need to get the all the information

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT Name, Sex FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### ALIAS or RENAMING A COLUMN

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT Name, Sex as "Gender" FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### Question:  Rename Pclass to Passenger Class

### Concat

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT concat(Ticket, "-", Fare) as "Ticket Fare" FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### Question: concat Passenger Class and age

### UPPER, LOWER

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT upper(NAME), lower(NAME) FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### Length

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT length(NAME) as "NAME LENGTH", NAME FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### DISTINCT

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT DISTINCT(Embarked) FROM titanic_csv', con=db_connection)
db_connection.dispose() 
df

### Question get distinct pclass

### WHERE
#### This is a conditional operation we mostly use to find data values from the data that follows some condition. 

#### Available Operators:
* =
* >,>=, <,<=
* BETWEEN 
* IN
* LIKE

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME FROM titanic_csv where sex="MALE"', con=db_connection)
db_connection.dispose() 
df

### Question get passengers with embarked type c

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, embarked FROM titanic_csv where embarked="C"', con=db_connection)
db_connection.dispose() 
df.head()

### NOT NULL and NULL, AND OR

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT DISTINCT(TRIM(Embarked)) as "Embarked" FROM titanic_csv where Embarked is NOT NULL and length(Embarked) > 0', con=db_connection)
db_connection.dispose() 
df

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT DISTINCT(TRIM(Embarked)) as "Embarked"  FROM titanic_csv where Embarked is NULL OR length(Embarked) < 1', con=db_connection)
db_connection.dispose() 
df

### Greater than, Less than

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, FARE FROM titanic_csv where Fare > 53', con=db_connection)
db_connection.dispose() 
df.head()

### Question: Get passengers with age less than 10

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, AGE FROM titanic_csv where Age < 10', con=db_connection)
db_connection.dispose() 
df.head()

### BETWEEN

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, FARE FROM titanic_csv where Fare BETWEEN 53 AND 100', con=db_connection)
db_connection.dispose() 
df.head()

### Question: get passengers with age between 1 to 18

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, Age FROM titanic_csv where Age BETWEEN 1 AND 18', con=db_connection)
db_connection.dispose() 
df.head()

### IN

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, FARE FROM titanic_csv where Fare IN ("S", "C", "Q")', con=db_connection)
db_connection.dispose() 
df.head()

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('''SELECT NAME, FARE FROM titanic_csv where Fare IN (
                SELECT DISTINCT(Embarked) FROM titanic_csv where Embarked is NOT NULL and length(Embarked) > 0
                )''', con=db_connection)
db_connection.dispose() 
df.head()

### Question: get all pasengers on SibSp 4, 3 and 2

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT NAME, Age, SibSp FROM titanic_csv where SibSp IN (4, 3, 2)', con=db_connection)
db_connection.dispose() 
df.head()

### LIKE

##### Startswith

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv WHERE Name LIKE 'Leonard%%'", con=db_connection)
db_connection.dispose() 
df.head()

#### Endswith

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv WHERE Name LIKE '%%Joseph'", con=db_connection)
db_connection.dispose() 
df.head()

#### Anything with

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv WHERE Name LIKE '%%Edgar%%'", con=db_connection)
db_connection.dispose() 
df.head()

### Case When

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("""
SELECT CASE
    WHEN fare < 100  THEN "Upper"
    WHEN fare BETWEEN 50 and 100 THEN "Middle"
    ELSE "Lower"
END AS 'fare_category'
FROM titanic_csv 
""", con=db_connection)
db_connection.dispose() 
df.head()

### ORDER BY

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv ORDER BY FARE", con=db_connection)
db_connection.dispose() 
df.head()

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv ORDER BY FARE DESC", con=db_connection)
db_connection.dispose() 
df.head()

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("SELECT NAME, FARE FROM titanic_csv ORDER BY FARE DESC, Age", con=db_connection)
db_connection.dispose() 
df.head()

### AGGREGATE

* COUNT
* AVG
* SUM
* MAX
* MIN

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("""
SELECT COUNT(NAME) as 'Passenger Count', 
AVG(AGE) as 'Average Age',
MIN(AGE) as 'Minimum Age',
MAX(AGE) as 'Maximum Age',
SUM(Fare) as 'Total Fare'
FROM titanic_csv 
""", con=db_connection)
db_connection.dispose() 
df.head()

### GROUP BY

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("""
SELECT COUNT(SEX) AS 'Gender Count'
FROM titanic_csv 
GROUP BY SEX
""", con=db_connection)
db_connection.dispose() 
df.head()

### HAVING

In [ ]:
db_connection = create_engine(db_connection_str)
df = pd.read_sql("""
SELECT AVG(Fare) AS 'Gender Count'
FROM titanic_csv 
GROUP BY Embarked
HAVING AVG(Fare) > 30
""", con=db_connection)
db_connection.dispose() 
df.head()

### Question: Get all count of passengers with fare greater than 50

### Question: Get Average fare of passenger group by age with minimum average of 10