In [1]:
!pip install jsonlines

Collecting jsonlines
  Downloading jsonlines-3.0.0-py3-none-any.whl (8.5 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rheyannmagcalas\appdata\roaming\python\python39\site-packages (from jsonlines) (21.4.0)
Installing collected packages: jsonlines
Successfully installed jsonlines-3.0.0

WARNING: There was an error checking the latest version of pip.

In [5]:
import jsonlines

### JSON

In [22]:
import pandas as pd

df = pd.DataFrame([['Jay',16,'BBA'],
                   ['Jack',19,'BTech'],
                   ['Mark',18,'BSc']],
                  columns = ['Name','Age','Course'])

print(df)

   Name  Age Course
0   Jay   16    BBA
1  Jack   19  BTech
2  Mark   18    BSc

In [26]:
import pandas as pd

df = pd.DataFrame([['Jay',16,'BBA'],
                   ['Jack',19,'BTech'],
                   ['Mark',18,'BSc']],
                  columns = ['Name','Age','Course'])

js = df.to_json(orient = 'columns')

print(js)

{"Name":{"0":"Jay","1":"Jack","2":"Mark"},"Age":{"0":16,"1":19,"2":18},"Course":{"0":"BBA","1":"BTech","2":"BSc"}}

In [31]:
with open("data/json/columns.json", "w") as outfile:
    outfile.write(js)

In [17]:
import pandas as pd

df = pd.DataFrame([['Jay',16,'BBA'],
                   ['Jack',19,'BTech'],
                   ['Mark',18,'BSc']],
                  columns = ['Name','Age','Course'])

js = df.to_json(orient = 'index')

print(js)

{"0":{"Name":"Jay","Age":16,"Course":"BBA"},"1":{"Name":"Jack","Age":19,"Course":"BTech"},"2":{"Name":"Mark","Age":18,"Course":"BSc"}}

In [30]:
with open("data/json/index.json", "w") as outfile:
    outfile.write(js)

In [18]:
import pandas as pd

df = pd.DataFrame([['Jay',16,'BBA'],
                   ['Jack',19,'BTech'],
                   ['Mark',18,'BSc']],
                  columns = ['Name','Age','Course'])

js = df.to_json(orient = 'split')

print(js)

{"columns":["Name","Age","Course"],"index":[0,1,2],"data":[["Jay",16,"BBA"],["Jack",19,"BTech"],["Mark",18,"BSc"]]}

In [29]:
with open("data/json/split.json", "w") as outfile:
    outfile.write(js)

### Read

In [32]:
json_data = pd.read_json('data/json/split.json')
json_data

   Name  Age Course
0   Jay   16    BBA
1  Jack   19  BTech
2  Mark   18    BSc

In [34]:
import jsonlines

items = [
    {'a': 1, 'b': 2},
    {'a': 123, 'b': 456},
]

with jsonlines.open('data/json/output.jsonl', 'w') as writer:
    writer.write_all(items)

In [43]:
json_data = pd.read_json('data/json/output.jsonl', lines=True)
json_data

     a    b
0    1    2
1  123  456

### Parquet

In [46]:
!pip install fastparquet

WARNING: There was an error checking the latest version of pip.

Collecting fastparquet
  Downloading fastparquet-0.8.1-cp39-cp39-win_amd64.whl (608 kB)
     ------------------------------------- 608.5/608.5 kB 19.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18 in c:\users\rheyannmagcalas\appdata\roaming\python\python39\site-packages (from fastparquet) (1.22.4)
Requirement already satisfied: pandas>=1.1.0 in c:\users\rheyannmagcalas\appdata\roaming\python\python39\site-packages (from fastparquet) (1.4.2)
Requirement already satisfied: fsspec in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from fastparquet) (2022.2.0)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp39-none-win_amd64.whl (993 kB)
     ------------------------------------- 993.4/993.4 kB 61.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\rheyannmagcalas\appdata\roaming\python\python39\site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rheyannmagcalas\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.1

In [47]:
json_data.to_parquet('data/sample.parquet', engine='fastparquet')